body {
  padding-bottom: 100px;
}

.tekst {
  margin-left: 30px;
  padding-right: 30px;
  margin-right: 30px;
}

p {
  margin-bottom: 1em;
}

ul {
  margin-bottom: 1em;
  margin-top: -1em;
}

li {
  margin-left: 30px;
}

.listedLinks{
  margin-left: 0;
  list-style: none;
}

a {
  color: yellow
}

img {
  max-width: 480px;
}

.plaatje {
  float: right;
  margin-right: 30px;
  margin-left: 30px;
  block-size: auto;
}
.paddingPlaatje2 {
  padding-top: 150px;
}

table{
  border-bottom: 5px solid #0011aa;
  text-align: left;
}

table thead tr{
  background-color: #0011aa;
  font-weight: bold;
}

table th, table td{
  padding-top: 10px;
  padding-right: 10px;
}
