body{
  font-family: 'Smudger LET Plain:1.0';
}

.openingsPagina{
  height: 100%;
  background: #000;
}

.openingsPagina:before{
content: '';
position: absolute;
top: 80px;
left: 0;
width: 100%;
height: 90%;
background: linear-gradient(to right, #f00, #f00, #0f0, #0ff, #ff0,#0ff);
mix-blend-mode: color;
pointer-events: none;
}

nav{
  background-color: rgb(13, 8, 102);
}

video{
  object-fit: cover;
}

.introTekst {
  margin: 0;
  padding: 0;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 5em;
  font-family: 'Smudger LET Plain:1.0';
  letter-spacing: 0.2em;
  text-shadow: 5px 5px 15px red;
}

 span{
  opacity: 0;
  display: inline-block;
  animation: animate 1s linear forwards;
}
@keyframes animate{
  0%
  {
    opacity: 0;
    transform: rotate(90deg);
    filter: blur(10px);
  }
  100%
  {
    opacity: 1;
    transform: rotate(0deg);
    filter: blur(0);
  }
}

span:nth-child(1) {
  animation-delay: 1.75s; 
  }
span:nth-child(2) {
  animation-delay: 2s; 
  }
span:nth-child(3) {
  animation-delay: 2.5s; 
  }
span:nth-child(4) {
  animation-delay: 3.5s; 
  }
span:nth-child(5) {
  animation-delay: 3.75s; 
  }
span:nth-child(6) {
  animation-delay: 4s; 
  }
span:nth-child(7) {
  animation-delay: 4s; 
  }
span:nth-child(8) {
  animation-delay: 4.5s; 
  }
span:nth-child(9) {
  animation-delay: 4.75s; 
  }
span:nth-child(10) {
  animation-delay: 5s; 
  }
span:nth-child(11) {
  animation-delay: 5.5s; 
  }
span:nth-child(12) {
  animation-delay: 6.5s; 
  }
